<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.pr.perfectrecovery">
    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission
            android:name="android.permission.BLUETOOTH"
            android:maxSdkVersion="30" />
    <uses-permission
            android:name="android.permission.BLUETOOTH_ADMIN"
            android:maxSdkVersion="30" />
    <uses-permission
            android:name="android.permission.BLUETOOTH_SCAN"
            android:usesPermissionFlags="neverForLocation" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->

    <application
            android:name=".BaseApplication"
            android:allowBackup="true"
            android:requestLegacyExternalStorage="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.PerfectRecovery">
        <!-- UI适配 -->
        <!--        <meta-data-->
        <!--                android:name="design_width_in_dp"-->
        <!--                android:value="375" />-->
        <!--        <meta-data-->
        <!--                android:name="design_height_in_dp"-->
        <!--                android:value="780" />-->

        <meta-data
                android:name="design_width_in_dp"
                android:value="500" />
        <meta-data
                android:name="design_height_in_dp"
                android:value="900" />

        <activity
                android:name=".activity.TrainResultActivity"
                android:exported="false"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.StarLevelActivity"
                android:exported="false"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.SingleActivity"
                android:exported="false"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.TrainingSingleActivity"
                android:exported="false"
                android:screenOrientation="portrait" />
        <activity
                android:name=".SplashActivity"
                android:screenOrientation="portrait"
                android:launchMode="singleTask"
                android:windowSoftInputMode="stateHidden|adjustResize"
                android:exported="true"
                android:theme="@style/splashActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                    android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                    android:resource="@xml/device_filter" />
        </activity>
        <activity
                android:name=".activity.StatisticalActivity"
                android:exported="false"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.CPRActivity"
                android:exported="false"
                android:launchMode="singleTask"
                android:screenOrientation="portrait">

        </activity>
        <activity
                android:name=".activity.ConfigActivity"
                android:exported="false"
                android:screenOrientation="portrait" />
        <activity
                android:name=".MainActivity"
                android:exported="false"
                android:screenOrientation="portrait" />
        <activity
                android:name=".activity.MutiActivityNew"
                android:exported="false"
                android:screenOrientation="portrait" />
    </application>

</manifest>